.btn {
  margin-right: 5px;
}
.markedAsDone {
  text-decoration: line-through;
  color: #777;
}
.tableActions {
  width: 105px;
}
.postsCategory {
  padding-bottom: 60px;
}

.botao-header-add{
  float: right;
  margin-right: 20px;
}
.element-jumbotron-style {
  padding-top: 1.5%;
  padding-left: 0% !important;
  padding-right: 0% !important;
}
.element-icon-close-style {
  padding-top: 10px;
}
.comment {
  position: relative;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  border: 1px solid rgba(0,0,0,.09);
  border-radius: 3px;
  padding: 10px;
  margin: 5px 0px;
}
.icon-comments {
  padding-right: 1%;
}
.fa-times:hover {
  color: blue !important;
}
.fa-thumbs-down:hover {
  color: blue !important;
}
.fa-thumbs-up:hover {
  color: blue !important;
}
.fa-pencil:hover {
  color: blue !important;
}
.fa-times-circle:hover {
  color: red !important;
}
.panel-relative{
  position: relative;
} 
.btn-right{
  position: absolute;
  right: 20px;
}
.center {
  align-items: center;
  justify-content: center;
  text-align: center;
}

